<h1>Members</h1>

<h3>Here are the members in this event:</h3>

    <ul>

      <%= @member.member_name() %> <%= @member.role() %> <%= @member.gender() %>

    </ul>

    <a href="/">Return to Main Page</a>
